@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
    --green: #5CC365;
    --light-green: #D5EDDF
}


.nav {
    z-index: 1;
    position: relative;

}

.nav>ul {
    margin-top: 1em;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;

}

.nav * {
    list-style-type: none;
}


.nav-links ul {
    display: flex;
    gap: 2em;

}

.nav>ul> :nth-child(2) {
    width: 50%;
}



.front-section {
    display: flex;
    justify-content: space-between;

    width: 100%;

}

.front-section :is(h4, h3) {
    color: var(--green);
}

.front-section h3 {
    font-size: 3rem;
}

.front-section h4 {
    font-size: 2.3rem;
}

.right-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-78px);
    width: 60%;
    height: 80vh;
}

.right-section img {
    display: inline-block;
    width: 55%;


}


.right-section::before {
    content: "";
    background: url("img/banner.png") right no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.text-section {
    width: 20em;
    font-weight: 300;
    margin-top: 12em;
}

.green-headings {
    margin-bottom: 3em;
}

.text-black {
    color: black !important;
}

.intro-text {
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-section button {
    padding: 1em 2em;
    color: white;
    background: #000;
    border: none;
    cursor: pointer;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 17em;
    text-align: center;
    font-weight: 300;
    line-height: 1.3;
    gap: .8em;
}


.service h5 {
    font-size: 1.5rem;
    font-weight: 400;
}

.services-section {
    display: flex;
    justify-content: space-around;
}


.service-img-1 {
    position: relative;
    border-radius: 50%;
    border: 4px solid var(--green);
    width: 7em;
    height: 7em;
}

.left-margin {
    margin-left: 10vw;
}

.right-margin {
    margin-right: 10vw;
}

.service-img-1::before {
    content: "";
    background: url("img/service1.png") center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.service-img-2 {
    position: relative;
    border-radius: 50%;
    border: 4px solid var(--green);
    width: 7em;
    height: 7em;
}


.service-img-2::before {
    content: "";
    background: url("img/service2.png") center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.service-img-3 {
    position: relative;
    border-radius: 50%;
    border: 4px solid var(--green);
    width: 7em;
    height: 7em;
}


.service-img-3::before {
    content: "";
    background: url("img/service3.png") center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.who-we-are {
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
    flex-direction: column;
}

.who-we-are h4 {
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 2em;

}

.who-we-are span {
    color: var(--green);
}


.who-we-are p {
    font-weight: 300;
}

.who-we-are-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 66em;
    margin-bottom: 4em;
}

.who-we-are-section div {
    align-self: flex-start;
    margin-top: 1em;
    margin-left: 2em;
}

.who-we-are-section h5 {
    margin-bottom: 1em;
    font-size: 2rem;
    font-weight: normal;
}

.who-we-are-section button {
    background-color: transparent;
    color: var(--green);
    border: 2px solid var(--green);
    padding: 1em 2em;
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}